<main>
    <section id="section-login">
        <h2>Login</h2>
        <form class="row g-3">

            <p>
              <label for="staticUsuario" class="visually-hidden">Usuario</label>
              <input type="text" readonly class="form-control" id="staticUsuario" value="email@example.com">
            </p>

            <p>
              <label for="inputPassword2" class="visually-hidden">Password</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
            </p>
            
            <p>
              <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
            </p>     
          </form>
    </section>
</main>

